@charset "UTF-8";

@font-face {
    font-family: 'droid1';
    src: url('fontes/idroid.otf') format("truetype");
    font-weight: normal;
}

:root {
 --cor1:#F2CDAC;
 --cor2:#4CABA6;
 --cor3:#0897B4;
 --cor4:#1B7F7A;
 --cor5:#4C4A59;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: bisque;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
}

header {
    background-color: #1B7F7A;
    
}
header h1 {
    font-family: 'droid1', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 25px 0px;
    color: var(--cor5);
    text-shadow: 1px 1px 1px black;
}
header p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
    padding: 15px 0px;
}

nav {
    background-color: var(--cor5);
    padding: 5px 0px;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.185);

}
nav a {
    background-color: var(--cor1);
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 4px;
    color: #4CABA6;
    text-shadow: 1px 1px 1px black;
    
}
nav a:hover {
    text-decoration: underline;
    background-color: burlywood;
    color: #0897B4;
    font-weight: bolder;
    transition: 0.2s;
}
nav a:visited {
    color: #1B7F7A;
    text-decoration: underline;
    
}

main {
    background-color: var(--cor3);
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.288);
}
main h2 {
    font-family: 'droid1',Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: var(--cor4);
    text-shadow: 1px 1px 1px black;
    background-image: linear-gradient(to right,var(--cor1),transparent);
    padding: 1px 3px;
    margin: 5px 0px;
}
main p {
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    margin: 4px 2px;
    text-shadow: 1px 1px 1px black;
}

picture {
    display: block;
    width: 99%;
    margin: auto;
    
}
img {
    display: block;
    margin: auto;
}
.bug {
    width: 25%;
}

iframe {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    background-color: var(--cor1);
    width: 98%;
    min-width: 315px;
    max-width: 560px;
}
div {
    background-color: #4C4A59;
    margin: 0px -15px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.418);
}


aside {
    background-color: var(--cor5);
    padding: 15px;
    border-radius: 15px;
}
aside h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor1);
    text-align: justify;
    text-shadow: 1px 1px 1px black;
    background-color: var(--cor2);
    padding: 15px;
    margin: -12px -12px 20px -12px;
    border-radius: 12px 12px 0px 0px;
}
aside p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
}
.extra {
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 15px 0px;
    text-indent: 0px;
    text-align: center;
}


ul {
    columns: 2;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
    color: white;
}
abbr {
    text-decoration: underline;
}

footer {
    background-color: var(--cor2);
    color: white;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}